#Data Structure

1. What are data structures, and why are they important?
  - Data structure is way of organizing and storing data. Data structures are important because it can be accessed and manipulated effeciently by the computer.

2. Explain the difference between mutable and immutable data types with examples.
  - In mutable data types we can change the values after created like in 'List' and 'Set' we can add, remove and change the values after they are created. But in immutable data types we can not change the values after created like in 'String', 'Tuples' we cannot add, remove, or modify the data after they are created.

3. What are the main differences between lists and tuples in Python?
  - In python lists are mutable data types but tuples are immutable data types.

4. Describe how dictionaries store data.
  - Dictionaries are a data structure that stores data as a key value pair. It's keys are unique and immutable. Dictionary is define as {}
  ex:- dictionary={'key':'key value"}

5. Why might you use a set instead of a list in Python?
  - In python I use set instead of list because sets doesn't allow duplicate elements. So set is very useful to efficiently remove duplicate values from a list.

6. What is a string in Python, and how is it different from a list?
  - String is a sequence of character. where each character is a single unit of text which is helpfull to represent and manipulate textual data in programming language.
  String is immutable means it can not be change after created but list is mutable means it's data can be change after created.

7. How do tuples ensure data integrity in Python?
  - In python once tuple created, its contents cannot be changed, this immutability ensure data integrity in python.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - In Python, a hash table is a data structure that stores key-value pairs, and dictionaries are built using hash tables

9. Can lists contain different data types in Python?
  - Yes, lists can contain different data types in Python.

10. Explain why strings are immutable in Python.
  - String is a sequence of character, where each character is assigned a unique code, so you connot access one element of a string so you cannot change any element of string that's why strings are immutable.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries are as quicker as lists for searching any data.

12. Describe a scenario where using a tuple would be preferable over a list.
  - Use tuples as a data structure where you don't want to modify data. Like in a office the details of employees will store in tuples instead of lists, that's no one can modify the employee data.

13. How do sets handle duplicate values in Python?
  - In python sets doesn't allow duplicate values, its remove the duplicate values.

14. How does the “in” keyword work differently for lists and dictionaries?
  - Using "in" keyword we can check that the element is present or not for lists


15. Can you modify the elements of a tuple? Explain why or why not.
  - No, I can not modify the elements of a tuple. Because tuple is immutable so once tuple created it cannot be modify.

16. What is a nested dictionary, and give an example of its use case?
  - Nested dictionaries are dictionaries that are stored as values within another dictionary.
  ex:- employee_records={'R001':{'name':'Raj Chandra', 'department':'Engineering','salary':95000},'R002':{'name':'Pampa Dutta', 'department':'Finance','salary':195000}}

17. Describe the time complexity of accessing elements in a dictionary.
  -

18. In what situations are lists preferred over dictionaries?
  - Where we have duplicate data but we dont want to remove the duplicate data where lists preferred over dictionaries. Example, in a office we have many employees in same name if we use dictionaries for store the employees name so we dont get all employees name in output so where we use list insted of dictionary.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - The ditionaries considered unordered because the items do not have a defined order, we cannot access an item by using index number, for data retrieval we can use keys instead of index number.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - For list the data store in memory block using index value so in list we want to access any element when we use index value for access the element but for dictionary the data store in memory block as using the key that's why we can access any element in dictionary using the key of the element.

#Practical

In [31]:
#1. Write a code to create a string with your name and print it.
my_name="Rittwick Jash"
print(my_name)

Rittwick Jash

In [2]:
#2. Write a code to find the length of the string "Hello World".,
code="Hello World"
len(code)

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
c="Python Programming"
c[0:3]

'Pyt'

In [5]:
#4. Write a code to convert the string "hello" to uppercase.
h="hello"
h.upper()

'HELLO'

In [6]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
s="I like apple"
s.replace("apple","orange")

'I like orange'

In [7]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
list=[1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [8]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
lis=[1, 2, 3, 4]
lis.append(10)
print(lis)

[1, 2, 3, 4, 10]

In [9]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
l=[1, 2, 3, 4, 5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [10]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list1=['a', 'b', 'c', 'd']
list1[1]

'b'

In [11]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
list2=[10, 20, 30, 40, 50]
list2.reverse()
print(list2)

[50, 40, 30, 20, 10]

In [12]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
t=(10, 20, 30)
print(t)

(10, 20, 30)

In [14]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tupple=('apple', 'banana', 'cherry')
tupple[0]

'apple'

In [18]:
#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
t2=(1, 2, 3, 2, 4, 2)
t2.count(2)

3

In [19]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t3=('dog', 'cat', 'rabbit')
t3.index('cat')

1

In [20]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
t4=('apple', 'orange', 'banana')
'banana' in t4

True

In [21]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set={1, 2, 3, 4, 4, 5}
print(set)

{1, 2, 3, 4, 5}

In [23]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
s1={1, 2, 3, 4}
s1.add(6)
print(s1)

{1, 2, 3, 4, 6}

In [24]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
t=(10,20,30)
print(t)

(10, 20, 30)

In [25]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tupple=('apple', 'banana', 'cherry')
tupple[0]

'apple'

In [26]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
t2=(1, 2, 3, 2, 4, 2)
t2.count(2)

3

In [27]:
#21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t3=('dog', 'cat', 'rabbit')
t3.index('cat')

1

In [28]:
#22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
t4=('apple', 'orange', 'banana')
'banana' in t4

True

In [29]:
#23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set={1, 2, 3, 4, 4, 5}
print(set)

{1, 2, 3, 4, 5}

In [30]:
#24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
s1={1, 2, 3, 4}
s1.add(6)
print(s1)

{1, 2, 3, 4, 6}

                           
                                                         
                                                         ** The End **